@import 'rupture'
dispGrid()
    display grid
    place-items center
dispFlex(dir, gap = 5, align = center, just = center)
    display flex
    flex-direction dir
    align-items align
    justify-content just
    gap unit(gap, 'px')
rupture.scale = 0 300px 500px 700px
*
    margin 0
    padding 0
    transition all 0.2s ease
body
    dispGrid()
    background-color #202020
    width 100%
    height 100dvh
    color #f5f5f5
    font-family 'Roboto', sans-serif
    .container
        dispFlex(column, 10, start)
        padding 10px
        width 500px
        +below(2)
            width 300px
        form
            dispFlex(row, 10, center, center)
            width 100%
            .new-task-title
                color #3f3f3f
                flex 1
                border 2px solid #3f3f3f
                padding 0.5rem 1rem
                border-radius 10px
                background #202020
                &:focus
                    outline none
                    background #3f3f3f
                    color invert(@background)
            button
                color #3f3f3f
                background #ffcc33
                border-radius 10px
                border 2px solid @background
                padding 0.5rem 1rem
                cursor pointer
                &:hover
                    background transparent
                    color #ffcc33
        #list
            width 100%
            list-style none
            dispFlex(column, 10, start, start)
            li
                width 100%
                background-color #84d5ed
                border-radius 10px
                label
                    padding 0.5rem 1rem
                    dispFlex(row, 10, center, space-between)
                    font-size 25px
                    color #202020
                    .check-box
                        width 30px
                        aspect-ratio 1
                    .taskTitle
                        flex 1
                        overflow-x scroll
                        scrollbar-color transparent transparent
                        scrollbar-width none
                        mask: linear-gradient(-90deg, transparent 0%, #f5f5f5 20%);
                        -webkit-mask: linear-gradient(-90deg, transparent 0%, #f5f5f5 20%);
                    .deleteBtn
                        border-radius 5px
                        background #FF6666
                        border 2px solid @background
                        color #f5f5f5
                        cursor pointer
                        &:hover
                            background #df2525
                            border-color @background
                            scale 1.1
